* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #fafafa;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.rotate-load {
  animation-fill-mode: both;
  animation: rotate .85s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.bar-loader-frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #F8F8F8;
  z-index: 5000;
}

.loader-bar {
  background-color: #3061AD;
  width: 40%;
  height: 100%;
  animation-fill-mode: both;
  animation: slide .85s infinite linear;
}

@keyframes slide {
  to {
    transform: translateX(500%);
    width: 20%;
  }
}

.body {
  width: 100%;
  height: auto;
  padding-top: 55px;
}

.ask-question-outer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.display-status {
  border-radius: 3px;
  position: fixed;
  bottom: 32px;
  left: 32px;
  background-color: #555;
  color: #fff;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  padding: 0px 10px; 
  border: 1px solid #444;
  height: 30px;
  width: auto;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  z-index: 2000;
}

.ask-question-wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 350px;
  width: 50%;;
  background-color: #fff;
  opacity: unset;
  display: block;
}

.ask-question-outer::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0,0,0,0.5);
  z-index: -1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-top: 3px solid #3061AD;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.header-logo {
  width: auto;
  height: auto;
  position: relative;
  left: 6%;
}

.header-search {
  width: auto;
  height: auto;
  position: relative;
  left: 15.7%;
  display: inline-flex;
  align-items: center;
}

.header-navigation {
  width: auto;
  height: auto;
  position: absolute;
  right: 6%; 
}

input.main-search {
  height: 32px;
  width: 451px;
  background: #F8F8F8;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  padding: 0px 0px 0px 10px;
  font-size: 14px;
  color: #25262B; 
}

button.main-search-btn {
  height: 32px;
  width: 66px;
  background: #3061AD;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  border: 1px solid;
  border-color: #3061AD;
  font-weight: bolder;
  cursor: pointer;
  outline-color: #3061AD;
}

.header-navigation {
  width: auto;
  height: auto;
  display: inline-flex;
}

ul.header-nav-ul {
  list-style-type: none;
  display: inline-flex;
  height: auto;
  padding: 0px;
  margin: 0px;
}

li.header-nav-item {
  width: auto;
  height: 100%;
  cursor: pointer;
  transition: .3s;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  margin: 0px 3px;
  text-align: center;
  position: relative;
}

li.header-nav-item:hover {
  background-color: #F8F8F8;
}

.notifiable-count {
  position: absolute;
  border-radius: 50%;
  padding: 3px;
  top: 0;
  right: 0;
  color: #fff;
  background-color: red;
  font-weight: bolder;
  font-size: 11px;
  display: flex;
  align-items: center;
  text-align: center;
}

.notifiable-count > p {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.header-notification-drop {
  position: absolute;
  top: 118%;
  padding: 0px 0px 10px 0px;
  right: 0;
  width: 140%;
  max-height: 0px;
  border-radius: 3px;
  background: #EFEFEF;
  box-shadow: 0px 0px 1px #25262B; 
  transition: max-height .3s ease-out;  
  display: unset;
  overflow-y: scroll;
  z-index: 1000;
}

.notification-main {
  position: relative;
  padding: 0px 0px 10px 0px;
  width: 100%;
  text-align: left;
  max-height: 0px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 0px 1px #25262B; 
  display: inline;
  transition: max-height .3s ease-out;  
} 

.header-notification-drop-top {
  position: relative;
  top: 0;
  width: 100%;
  height: 32px;
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #C4C4C4;
}

.active-display {
  display: unset;
  max-height: 400px;
  transition: max-height .3s ease-in;
}

.header-notification-drop-top p {
  width: 50%;
  height: auto;
  padding: 0px 0px 0px 10px;
  font-size: 10px;
  color: #25262B;
  margin: 0px;
  font-weight: 700;
}

.header-notification-drop-top p:nth-child(2) {
  text-align: right;
  padding: 0px 10px 0px 0px;
}

.header-notification-drop-top p:nth-child(2) svg {
  position: relative;
  top: 4px;
}

.header-notification-drop-top p > a {
  text-decoration: none;
  color: inherit;
}

.header-notification-drop-top p > a:hover {
  text-decoration: underline;
}

.header-display-name {
  margin-left: 5px;
}

.header-down-arrow {
  position: relative;
  top: 3px;
}

.header-notification-drop ul {
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.header-notification-drop ul li {
  display: inline-flex;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #C4C4C4;
  padding: 10px 0px;
  transition: all ease-in .3s;
}

.header-notification-drop ul li:hover {
  background-color: #dfdfdf;
}

.header-notification-drop ul li a {
  display: inline-flex;
  text-decoration: none;
  color: #25262B;
  font-size: 13px;
  width: 100%;
}

div.notification-item-left {
  width: 15%;
  text-align: center;
}

div.notification-item-right {
  width: 85%;
}

.notification-item-time {
  margin: 0px;
  color: #435363;
  font-weight: 900;
  font-size: 10px;
}

.notification-item-title {
  margin: 5px 0px;
  color: #25262B;
  font-weight: bold;
}

.notification-item-brief {
  margin: 0px;
  font-size: 12px;
}

.read-notification-item {
  background-color: #F8F8F8;
}

.header-profile-drop {
  background: #fff;
  overflow-y: hidden;
  height: auto;
  width: 75%;
  text-align: center;
}

.header-profile-drop ul li {
  display: grid;
  width: 100%;
  height: auto;
  padding: 10px 0px;
  transition: all ease-in .3s;
  text-align: center;
  border-bottom: none;
}

.header-profile-drop ul li:hover {
  background-color: #7c99c6;
}

.header-profile-drop ul li a {
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline;
  font-size: 14px;
}

.login-signup-buttons {
  display: inline;
}

.login-signup-buttons a {
  border: 2px solid #3061AD;
  background-color: transparent;
  width: 75px;
  height: 36px;
  border-radius: 25px;
  font-size: 15px;
  padding: 8px 16px;
  font-weight: bolder;
  margin-left: 15px;
  transition: .25s;
}
/* 
.login-signup-buttons a:hover {
  background-color: #EFEFEF;
  color: #fff;
} */

.login-signup-buttons a.signup-btn {
  color: #fff;
  background-color: #3061AD;
}

.welcome-div {
  width: 100%;
  min-height: 550px;
  background-color: #3061AD;
  padding: 20px;
  display: inline-flex;
}

.welcome-div-left {
  width: 50%;
  color: #fff;
  margin: 0px;
  display: inline-grid;
  align-items: center;
  font-size: 20px;
  font-weight: lighter;
}

.welcome-div-left > h1 {
  margin: 0px 0px 10px 0px;
  align-self: flex-end;
  font-weight: lighter;
}

.welcome-div-left > p {
  margin: 0px 0px 0px 0px;
  align-self: flex-start;
}

.welcome-div-right {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

.sign-up-home {
  padding: 10px;
  width: 415px;
  border-radius: 7px;
  background: #EFEFEF;
  box-shadow: 0px 0px 1px #25262B;
  margin: 0px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
}

.sign-up-home-top {
  text-align: center;
}

.sign-up-home-top h3 {
  font-weight: 500;
  font-size: 21px;
  color: #25262B;
  margin-bottom: 0px;
}

.sign-with {
  display: block;
  text-align: center;
  color: #8f989d;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 5px 0;
}

.social-buttons {
  color: #a3aaae;
  text-align: center;
}

.sign-up-facebook {
  width: 90px;
  color: #8f989d;
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #000 !important;
  border-color: #4285f4 !important;
  height: 40px;
  padding: 0;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  margin-right: 10px; 
}

.sign-up-facebook img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  height: auto;
}

.sign-up-facebook:hover {
  border-color: rgb(25, 65, 124);
}

.sign-up-google {
  width: 90px;
  color: #8f989d;
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #000 !important;
  border-color: rgb(196, 55, 55) !important;
  height: 40px;
  padding: 0;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
}

.sign-up-google img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  height: auto;
}

.sign-up-google:hover {
  border-color: rgb(187, 44, 44)
}

.sign-up-home div:last-child{
  margin-top: 15px;
}

.sign-up-home p {
  text-align: left;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #25262B;
  margin-left: 5%;
}

p.seperator {
  color: #a3aaae;
  padding: 5px 20px;
  text-align: center;
  background: inherit;
  position: relative;
  margin: 5px 0;
}

.or {
  padding: 5px 20px;
  background: #EFEFEF;
  color: #8f989d;
  position: relative;
}

p.seperator::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #d7dee2;
  position: absolute;
  top: 50%;
  left: 0;
}

.sign-up-home-full-name {
  height: 37px;
  width: 90%;
  background: #F8F8F8;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  padding: 0px 0px 0px 10px;
  font-size: 14px;
  color: #25262B;
  font-weight: bold;
  margin-bottom: 15px;
}

.input-error {
  border-color: rgb(177, 53, 53);
}

.error-msg {
  text-align: left;
  padding-left: 5%;
  font-weight: bold;
  display: block;
  font-size: 11px;
  color: rgb(177, 53, 53);
}

.sign-up-home-submit-btn {
  width: 90%;
  height: 50px;
  background-color: #313238;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  transition: all ease-in .3s;
  margin-top: 7px;
}

.sign-up-home-submit-btn:hover {
  background-color: #25262B;
}

p.already {
  font-size: 12px;
  color: #949494;
  text-align: center;
}

p.already > a {
  color: #25262B;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.content {
  width: 100%;
  height: auto;
  display: inline-flex;
}

.left-side {
  width: 20%;
  display: block;
  padding: 63px 0px;
  text-align: center;
  text-align: -webkit-center;
}

.left-side ul {
  padding: 0px;
  list-style-type: none;
}

.left-side ul li {
  margin-bottom: 8px;
  padding: 4px;
  border-radius: 3px;
  width: fit-content;
  width: -webkit-fit-content;
  font-size: 13px;
  cursor: pointer;
  transition: all ease .3s;
}

.left-side ul li:hover {
  background-color: #d5d5d5;
}

.left-side ul li.is-active {
  background-color: #d5d5d5;
}

.left-side ul li a {
  text-decoration: none;
  color: #25262B;
}

.main-content {
  width: 55%;
  padding: 20px 0px;
  text-align: center;
}

.post-filter {
  width: 100%;
  height: 45px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 4px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px;
  text-align: justify;
}

.post-filter ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: inline-flex;
  padding: 0px;
  margin: 0px;
}

.post-filter ul li {
  width: 25%;
  text-align: center;
  height: 100%;
  display: grid;
  padding: 5px;;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  text-align: center;
  font-size: 14px;
  transition: all ease .25s;
}

.post-filter ul li:hover {
  border-bottom: 2px solid #d9d9d9;
  background: #efefef;
}

.post-filter ul li.active-filter {
  border-bottom: 2px solid #3061AD;
  color: #3061AD;
}

/**styles for the skeleton loader**/
.main-content-skeleton {
  height: 350px;
  width: 100%;
  margin-top: 60px;

  /* background-color: #fff; */
  background-repeat: no-repeat;
  background-image:
    radial-gradient( circle 50px at 50px 50px, lightgray 99%, transparent 0 ),
    linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
    linear-gradient( lightgray 20px, transparent 0 ),
    linear-gradient( lightgray 20px, transparent 0 ),
    linear-gradient( lightgray 20px, transparent 0 ),
    linear-gradient( lightgray 20px, transparent 0 );

  background-repeat: repeat-y;

  background-size:
    100px 200px, /* circle */
    50px 200px, /* highlight */
    150px 200px,
    350px 200px,
    300px 200px,
    250px 200px;

  background-position:
    0 0, /* circle */
    0 0, /* highlight */
    120px 0,
    120px 40px,
    120px 80px,
    120px 120px;

  animation: shine 1s infinite;
}

@keyframes shine {
  to {
    background-position:
      0 0,
      100% 0, /* move highlight to right */
      120px 0,
      120px 40px,
      120px 80px,
      120px 120px;
  }
}

.main-content-item {
  width: 100%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 4px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px;
  padding: 16px;
  padding-top: 5px;
  text-align: justify;
}

.main-content-item .user-details {
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

.question-type {
  width: 100%;
}

.question-type > p {
  font-size: 13px;
  color: #949494;
}

.question-title {
  tab-size: 4;
  word-break: break-word;
  font-weight: bold;
  line-height: 1.3;
  color: #333;
  font-size: 18px;
  width: 85%;
  margin-bottom: 13px;
  padding-left: 10px; 
  border-left: 3px solid #484951;
}

.question-user-details {
  width: auto;
  display: inline-flex;
  font-size: 13px;
}

.question-user-image {
  width: 47px;
}

.question-user-name {
  display: grid;
}

.question-user-name span:first-of-type {
  font-weight: bold; 
}

.question-user-name span:last-of-type {
  color: #949494;
}

.question-details {
  font-size: 15px;
  line-height: 1.4;
}

.question-stats {
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  margin: 15px 0px;
}

.question-stats span {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-weight: 700;
}

.question-stats span.in-progress {
  color: orange;
}

.question-stats span.in-progress svg {
  fill: orange;
}

.question-stats span.answered-question {
  color: green;
}

.question-stats span.answered-question svg {
  fill: green;
}

.question-stats span.answer-count {
  color: #3061AD;
}

.bottom-actions {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.bottom-actions div {
  min-width: 110px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  transition: all ease-out .25s;
  border-radius: 83px;
  padding: 10px 15px;
  transition: .5s;
}

.bottom-actions div:hover {
  background-color: #efefef;
}

.bottom-actions div:active {
  background-color: #9c9392;
  color: #fff;
}

.bottom-actions div span {
  display: inline-flex;
  font-size: 13px;
}

.bottom-actions div span > svg {
  margin-right: 5px;
}

.add-answer-wrap {
  width: 95%;
  min-height: 200px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 4px;
  border-bottom: 1px solid #d9d9d9;
}

.single-item-wrapper {
  width: 50%;
}

.single-comment-wrap {
  display: block;
  position: relative;
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding: 10px 0px;
}

.single-comment-wrap > p {
  display: inline-flex;
  align-items: center;
  left: 5%;
  position: relative;
}

.single-comment-wrap > p > pre {
  display: inline-flex;
  margin: 0px;
}

.single-comment {
  display: grid;
  position: relative;
  width: 95%;
  left: 5%;
  border-left: 2px solid #3061AD;
  border-bottom: 1px solid #ccc;
  background-color: #f6f7fa;
  font-size: 13px;
  padding: 6px;
  color: #25262B;
  margin: 5px 0px;
}

.single-comment p {
  margin: 0px;
}

p.single-comment-details {
  color: #25262B;
  text-align: right;
  font-size: 10px;
  font-weight: bold;
  margin: 5px 0px;
}


.right-side {
  width: 25%;
  margin-top: 75px;
  padding: 0px 15px;
}

/* //notification page styles */

.notification-main {
  position: relative;
  padding: 0px 0px 10px 0px;
  width: 100%;
  text-align: left;
  max-height: 0px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 0px 1px #25262B; 
  display: inline;
  transition: max-height .3s ease-out; 
  z-index: unset; 
} 

.notification-main .header-notification-drop-top {
  position: relative;
  top: 0;
  width: 100%;
  height: 64px;
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #C4C4C4;
}

.notification-main .header-notification-drop-top p {
  width: 50%;
  height: auto;
  padding: 0px 0px 0px 10px;
  font-size: 13px;
  color: #25262B;
  margin: 0px;
  font-weight: 700;
}

.header-notification-drop-top p:nth-child(1) {
  position: relative;
  top: 4px;
}


.header-notification-drop-top p:nth-child(2) {
  text-align: right;
  padding: 0px 10px 0px 0px;
}

.header-notification-drop-top p:nth-child(2) svg {
  position: relative;
  top: 4px;
}

.header-notification-drop-top p > a {
  text-decoration: none;
  color: inherit;
}

.header-notification-drop-top p > a:hover {
  text-decoration: underline;
}

.header-display-name {
  margin-left: 5px;
}

.header-down-arrow {
  position: relative;
  top: 3px;
}

.notification-main .notification-main-ul {
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-top: 30px;

}

.notification-main-ul li {
  display: inline-flex;
  width: 100%;
  height: auto;
  border: 1px solid #C4C4C4;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 0px;
  transition: all ease-in .3s;
  margin: 3px 0px;
}

.header-notification-drop ul li:hover {
  background-color: #dfdfdf;
}

.header-notification-drop ul li a {
  display: inline-flex;
  text-decoration: none;
  color: #25262B;
  font-size: 13px;
  width: 100%;
}

div.notification-item-left {
  width: 15%;
  text-align: center;
}

div.notification-item-right {
  width: 70%;
}

.notification-item-time {
  margin: 0px;
  color: #435363;
  font-weight: 900;
  font-size: 10px;
}

.notification-item-title {
  margin: 5px 0px;
  color: #25262B;
  font-weight: bold;
}

.notification-item-brief {
  margin: 0px;
  font-size: 12px;
}

.read-notification-item {
  background-color: #F8F8F8;
}

.signup-body {
  position: absolute;
  background-color: #dfdfdf;
  width: 100%;
  height: 100%;
}

.signup-wrap {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}




@media(max-width: 810px){
  .welcome-div {
    display: grid;
  }

  .welcome-div-left, .welcome-div-right {
    width: 80%;
  }

  .sign-up-home {
    width: 351px;
  }
  .content {
    display: block;
  }

  .left-side, .main-content, .right-side {
    width: 100%;
  }
}