* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #EFEFEF;
  color: #333333;
}

.body {
  width: 100%;
  height: auto;
  padding-top: 55px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-top: 3px solid #3061AD;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.header-logo {
  width: auto;
  height: auto;
  position: relative;
  left: 6%;
}

.header-search {
  width: auto;
  height: auto;
  position: relative;
  left: 15.7%;
  display: inline-flex;
  align-items: center;
}

.header-navigation {
  width: auto;
  height: auto;
  position: absolute;
  right: 6%; 
}

input.main-search {
  height: 32px;
  width: 451px;
  background: #F8F8F8;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  padding: 0px 0px 0px 10px;
  font-size: 14px;
  color: #25262B; 
}

button.main-search-btn {
  height: 32px;
  width: 66px;
  background: #3061AD;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  border: 1px solid;
  border-color: #3061AD;
  font-weight: bolder;
  cursor: pointer;
  outline-color: #3061AD;
}

.header-navigation {
  width: auto;
  height: auto;
  display: inline-flex;
}

ul.header-nav-ul {
  list-style-type: none;
  display: inline-flex;
  height: auto;
  padding: 0px;
  margin: 0px;
}

li.header-nav-item {
  width: auto;
  height: 100%;
  cursor: pointer;
  transition: .3s;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  margin: 0px 3px;
  text-align: center;
  position: relative;
}

li.header-nav-item:hover {
  background-color: #F8F8F8;
}

.notifiable-count {
  position: absolute;
  border-radius: 50%;
  padding: 3px;
  top: 0;
  right: 0;
  color: #fff;
  background-color: red;
  font-weight: bolder;
  font-size: 11px;
  display: flex;
  align-items: center;
  text-align: center;
}

.notifiable-count > p {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.header-notification-drop {
  position: absolute;
  top: 118%;
  padding: 0px 0px 10px 0px;
  right: 0;
  width: 140%;
  max-height: 0px;
  border-radius: 3px;
  background: #EFEFEF;
  box-shadow: 0px 0px 1px #25262B; 
  transition: max-height .3s ease-out;  
  display: none;
  overflow-y: scroll;
  z-index: 1000;
}

.header-notification-drop-top {
  position: relative;
  top: 0;
  width: 100%;
  height: 32px;
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #C4C4C4;
}

.active-display {
  display: unset;
  max-height: 400px;
  transition: max-height .3s ease-in;
}

.header-notification-drop-top p {
  width: 50%;
  height: auto;
  padding: 0px 0px 0px 10px;
  font-size: 10px;
  color: #25262B;
  margin: 0px;
  font-weight: 700;
}

.header-notification-drop-top p:nth-child(2) {
  text-align: right;
  padding: 0px 10px 0px 0px;
}

.header-notification-drop-top p:nth-child(2) svg {
  position: relative;
  top: 4px;
}

.header-notification-drop-top p > a {
  text-decoration: none;
  color: inherit;
}

.header-notification-drop-top p > a:hover {
  text-decoration: underline;
}

.header-display-name {
  margin-left: 5px;
}

.header-down-arrow {
  position: relative;
  top: 3px;
}

.header-notification-drop ul {
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.header-notification-drop ul li {
  display: inline-flex;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #C4C4C4;
  padding: 10px 0px;
  transition: all ease-in .3s;
}

.header-notification-drop ul li:hover {
  background-color: #dfdfdf;
}

.header-notification-drop ul li a {
  display: inline-flex;
  text-decoration: none;
  color: #25262B;
  font-size: 13px;
  width: 100%;
}

div.notification-item-left {
  width: 15%;
  text-align: center;
}

div.notification-item-right {
  width: 85%;
}

.notification-item-time {
  margin: 0px;
  color: #435363;
  font-weight: 900;
  font-size: 10px;
}

.notification-item-title {
  margin: 5px 0px;
  color: #25262B;
  font-weight: bold;
}

.notification-item-brief {
  margin: 0px;
  font-size: 12px;
}

.read-notification-item {
  background-color: #F8F8F8;
}

.header-profile-drop {
  background: #fff;
  overflow-y: hidden;
  height: auto;
  width: 75%;
  text-align: center;
}

.header-profile-drop ul li {
  display: grid;
  width: 100%;
  height: auto;
  padding: 10px 0px;
  transition: all ease-in .3s;
  text-align: center;
  border-bottom: none;
}

.header-profile-drop ul li:hover {
  background-color: #7c99c6;
}

.header-profile-drop ul li a {
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline;
  font-size: 14px;
}

.welcome-div {
  width: 100%;
  min-height: 550px;
  background-color: #3061AD;
  padding: 20px;
  display: inline-flex;
}

.welcome-div-left {
  width: 50%;
  color: #fff;
  margin: 0px;
  display: inline-grid;
  align-items: center;
  font-size: 20px;
  font-weight: lighter;
}

.welcome-div-left > h1 {
  margin: 0px 0px 10px 0px;
  align-self: flex-end;
  font-weight: lighter;
}

.welcome-div-left > p {
  margin: 0px 0px 0px 0px;
  align-self: flex-start;
}

.welcome-div-right {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

.sign-up-home {
  padding: 10px;
  width: 70%;
  border-radius: 7px;
  background: #EFEFEF;
  box-shadow: 0px 0px 1px #25262B;
  transition: max-height .3s ease-out;
  margin: 0px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
}

.sign-up-home div:last-child{
  margin-top: 15px;
}

.sign-up-home p {
  text-align: left;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #25262B;
  margin-left: 5%;
}

.sign-up-home-full-name {
  height: 37px;
  width: 90%;
  background: #F8F8F8;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  padding: 0px 0px 0px 10px;
  font-size: 14px;
  color: #25262B;
  font-weight: bold;
}

.sign-up-home-submit-btn {
  width: 90%;
  height: 50px;
  background-color: #25262B;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  transition: all ease-in .3s;
}

.sign-up-home-submit-btn:hover {
  background-color: #484951;
}

.content {
  width: 100%;
  height: auto;
  display: inline-flex;
}

.left-side {
  width: 25%;
  display: block;
  padding: 63px 0px;
}

.left-side ul {
  list-style-type: none;
}

.left-side ul li {
  margin-bottom: 8px;
  padding: 4px;
  margin-left: 40px;
  border-radius: 3px;
  width: fit-content;
  font-size: 13px;
  cursor: pointer;
  transition: all ease .3s;
}

.left-side ul li:hover {
  background-color: #d5d5d5;
}

.left-side ul li.is-active {
  background-color: #d5d5d5;
}

.left-side ul li a {
  text-decoration: none;
  color: #25262B;
}

.main-content {
  width: 50%;
  padding: 20px 0px;
  text-align: center;
}

.post-filter {
  width: 100%;
  height: 45px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 4px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px;
  text-align: justify;
}

.post-filter ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: inline-flex;
  padding: 0px;
  margin: 0px;
}

.post-filter ul li {
  width: 25%;
  text-align: center;
  height: 100%;
  display: grid;
  padding: 5px;;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  text-align: center;
  font-size: 14px;
  transition: all ease .25s;
}

.post-filter ul li:hover {
  border-bottom: 2px solid #d9d9d9;
  background: #efefef;
}

.post-filter ul li.active-filter {
  border-bottom: 2px solid #3061AD;
  color: #3061AD;
}

.main-content-item {
  width: 100%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 4px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px;
  padding: 16px;
  padding-top: 5px;
  text-align: justify;
}

.main-content-item .user-details {
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

.question-type {
  width: 100%;
}

.question-type > p {
  font-size: 13px;
  color: #949494;
}

.question-title {
  tab-size: 4;
  word-break: break-word;
  font-weight: bold;
  line-height: 1.3;
  color: #333;
  font-size: 18px;
  width: 85%;
  margin-bottom: 13px;
  padding-left: 10px; 
  border-left: 3px solid #484951;
}

.question-user-details {
  width: auto;
  display: inline-flex;
  font-size: 13px;
}

.question-user-image {
  width: 47px;
}

.question-user-name {
  display: grid;
}

.question-user-name span:first-of-type {
  font-weight: bold; 
}

.question-user-name span:last-of-type {
  color: #949494;
}

.question-details {
  font-size: 15px;
  line-height: 1.4;
}

.question-stats {
  font-size: 12px;
  display: inline-flex;
  margin: 15px 0px;
}

.bottom-actions {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.bottom-actions div {
  width: 110px;
  text-align: center;
  cursor: pointer;
  transition: all ease-out .25s;
  border-radius: 83px;
  padding: 10px 15px;
}

.bottom-actions div:hover {
  background-color: #efefef;
}

.bottom-actions div span {
  display: inline-flex;
}


.right-side {
  width: 25%;
}